


<img src="{{avatar_url}}">
<p id="name">{{name}}</p>
<p id="login">{{login}}</p>
<hr>
<p id="location"> <span class="octicon octicon-location"></span> {{location}}</p>
<p id="datejoined"> <span class="octicon octicon-clock"></span> Joined On {{created_at}}</p>

<div class="numbers">
<p id="followers"><a href="{{followers_url}}"> {{followers}} </a> Followers </p><p id="starred"> <a href="{{starred_url}}"> 0 </a>Starred</p><p id="following"><a href="{{following_url}}"> {{following}}</a> Following</p>
</div>
