


<img src="{{avatar_url}}">
<p id="name">{{name}}</p>
<p id="login">{{login}}</p>
<hr>
<p id="location"> <span class="octicon octicon-location"></span> {{location}}</p>
<p id="datejoined"> <span class="octicon octicon-clock"></span> Joined On {{created_at}}</p>
